/*ScollBar*/
.auto_roll_table tbody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.auto_roll_table tbody::-webkit-scrollbar-button {
  width: 11px;
  height: 11px;
}
.auto_roll_table tbody::-webkit-scrollbar-thumb {
  background: #2D628E;
  border: 2px none #ffffff;
  border-radius: 25px;
}
.auto_roll_table tbody::-webkit-scrollbar-thumb:hover {
  background: #2D628E;
}
.auto_roll_table tbody::-webkit-scrollbar-thumb:active {
  background: #2D628E;
}
.auto_roll_table tbody::-webkit-scrollbar-track {
  background: #12293F;
  border: 23px none #ffffff;
  border-radius: 22px;
}
.auto_roll_table tbody::-webkit-scrollbar-track:hover {
  background: #12293F;
}
.auto_roll_table tbody::-webkit-scrollbar-track:active {
  background: #12293F;
}
.auto_roll_table tbody::-webkit-scrollbar-corner {
  background: transparent;
}